.calendar-reminder {

  .calendar-reminder__title {
    max-width: 70%;
  }

  .close {
    top: 1px !important;
    padding: 0 !important;
    right: 3px !important;
    background-color: transparent !important;

    &:focus{
      outline: 0;
    }
  }
}