@import "../../assets/styles/variables";

body,
html,
#root {
    height: 100%;
    background: $white;
    font-family: $font-family-base;
}

.calendar--btn-transparent {
    background-color: transparent;
    border: 0;

    &:focus {
        outline: none;
    }
}
